{% extends "home.html.twig" %}

{% block body %}

    <h1>list of project : </h1>

    {% for id in arrayID %}
        <li>{{ loop.index }} : {{ id }}</li>
    {% endfor %}
    <p>*************************************************</p>
    <a href="/home"><button>Retour à l'accueil</button></a>

    <!--
    <a>
        <a href="/manageteam">
        <button type="submit">supprimer un projet à une team</button>
    </a>
        <br/>

    <br/>
        <a>
            <a href="/manageteam">
            <button type="submit">aujouter un projet à une team</button>
        </a>
        <->
{% endblock %}