{% extends "home.html.twig" %}

{% block body %}

<h1>project : </h1>

{% for team in teams %}
    <li>{{ loop.index }} : {{ team.name }}</li>
{% endfor %}

<p>*************************************************</p>

</a>
<a href="/createteam">
    <button type="submit" >Create a Team</button>
</a>
<br />
<br />
</a>
<a href="/manageteam">
    <button type="submit" >Manage team</button>
</a>
<br/>
<br />
<a href="/array">
    <button type="submit" >list of project</button>
</a>
<!--
<a>
    <a href="/manageteam">
    <button type="submit">supprimer un projet à une team</button>
</a>
    <br/>

<br/>
    <a>
        <a href="/manageteam">
        <button type="submit">aujouter un projet à une team</button>
    </a>
    <->
{% endblock %}

