{% extends "home.html.twig" %}

{% block body %}

<h1>Manage Team</h1>

{% for team in teams %}
    <li>{{ loop.index }} : {{ team.name }}</li>
    <a href="{{ path('deleteteam', {'id' : team.id}) }}">
        <button type="submit" >Delete</button>
    </a>
    <a href="{{ path('updateteam', {'id' : team.id}) }}">
        <button type="submit" >Update</button>
    </a>
{% endfor %}
<br />
    <a href="/home"><button>Retour à l'accueil</button></a>
{% endblock %}

